%table.table.table-hover#meals
  - @meals.each do |meal|
    %tbody
      %tr.clickable-row
        %td{style: 'display: none;'}= meal.id
        %td= meal.name
        %td= meal.course
        %td= meal.price

= link_to 'Submit', 
          user_orders_path(current_user, menu_id: params[:menu_id]), 
          id: 'submit', 
          class: 'btn btn-primary', 
          method: :post

%script{type: 'text/javascript',
        src: '/javascripts/meals.js'}
